<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tennis probability project</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    <link rel="icon" href="../static/css/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="container-fluid">
<h2 class="text-center" style="color:white;text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);margin: 40px 20px 1px 20px;">
PREDICT THE WINNER OF FUTURE TENNIS ENCOUNTER
</h2>
  <div style="margin-top: 70px;">
	<form class="form-inline" action="results" method="post">

	<div class="col-md-6">
		<select  class="form-control-lg" style="width: 100%;" name="gender">
			<option selected>Choose gender of tennis players...</option>
			<option value="female">Female</option>
			<option value="male">Male</option>
		</select>
    </div>

        <div class="col-md-6">
		<select  class="form-control-lg" style="width: 100%;" name="type">
			<option selected>Choose type of court...</option>
			<option value="indoor hard">Hardcourt indoor</option>
			<option value="outdoor hard">Hardcourt outdoor</option>
			<option value="clay">Red clay</option>
			<option value="grass">Grass</option>
		</select>
	    </div>
    </div>


    <div class="col-md-5" style="float:left; margin-top:35px">
	<input placeholder="First tennis player" type="text" class="form-control input-lg" list="name1" name="name1" data-input aria-autocomplete="both">
        <datalist id="name1">
            <option value="﻿Djokovic Novak">
            <option value="Nadal Rafael">
            <option value="Federer Roger">
            <option value="Thiem Dominic">
            <option value="Zverev Alexander">
            <option value="Nishikori Kei">
            <option value="Tsitsipas Stefanos">
            <option value="Anderson Kevin">
            <option value="Del Potro Juan Martin">
            <option value="Cilic Marin">
            <option value="Isner John">
            <option value="Fognini Fabio">
            <option value="Khachanov Karen">
            <option value="Medvedev Daniil">
            <option value="Coric Borna">
            <option value="Monfils Gael">
            <option value="Raonic Milos">
            <option value="Basilashvili Nikoloz">
            <option value="Cecchinato Marco">
            <option value="Bautista-Agut Roberto">
            <option value="Pella Guido">
            <option value="Shapovalov Denis">
            <option value="Goffin David">
            <option value="Schwartzman Diego">
            <option value="Pouille Lucas">
            <option value="de Minaur Alex">
            <option value="Edmund Kyle">
            <option value="Simon Gilles">
            <option value="Wawrinka Stan">
            <option value="Auger Aliassime Felix">
            <option value="Lajovic Dusan">
            <option value="Djere Laslo">
            <option value="Berrettini Matteo">
            <option value="Tiafoe Frances">
            <option value="Garin Christian">
            <option value="Kyrgios Nick">
            <option value="Fucsovics Marton">
            <option value="Verdasco Fernando">
            <option value="Gasquet Richard">
            <option value="Herbert Pierre-Hugues">
            <option value="Hurkacz Hubert">
            <option value="Chardy Jeremy">
            <option value="Carreno-Busta Pablo">
            <option value="Albot Radu">
            <option value="Norrie Cameron">
            <option value="Paire Benoit">
            <option value="Kukushkin Mikhail">
            <option value="Dimitrov Grigor">
            <option value="Cuevas Pablo">
            <option value="Mannarino Adrian">
            <option value="Struff Jan-Lennard">
            <option value="Fritz Taylor">
            <option value="Opelka Reilly">
            <option value="Ebden Matthew">
            <option value="Munar Clar Jaume Antoni">
            <option value="Kohlschreiber Philipp">
            <option value="Millman John">
            <option value="Dzumhur Damir">
            <option value="Johnson Steve">
            <option value="Klizan Martin">
            <option value="Querrey Sam">
            <option value="Humbert Ugo">
            <option value="Mcdonald Mackenzie">
            <option value="Haase Robin">
            <option value="Seppi Andreas">
            <option value="Mayer Leonardo">
            <option value="Sonego Lorenzo">
            <option value="Thompson Jordan">
            <option value="Krajinovic Filip">
            <option value="Berankis Ricardas">
            <option value="Jarry Nicolas">
            <option value="Sousa Joao">
            <option value="Londero Juan Ignacio">
            <option value="Gulbis Ernests">
            <option value="Nishioka Yoshihito">
            <option value="Ruud Casper">
            <option value="Bedene Aljaz">
            <option value="Delbonis Federico">
            <option value="Rublev Andrey">
            <option value="Kudla Denis">
            <option value="Copil Marius">
            <option value="Gojowczyk Peter">
            <option value="Evans Daniel">
            <option value="Kecmanovic Miomir">
        </datalist>
	</div>

    <div class="col-md-2" style="float:left; margin-top:30px">
	<h1 class="text-center" style="color:white;text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);">VS</h1></div>
	<div class="col-md-5" style="float:left; margin-top:35px">
    <input placeholder="Second tennis player" type="text" class="form-control input-lg" list="name2" name="name2" data-input aria-autocomplete="both">
        <datalist id="name2">
            <option value="﻿Djokovic Novak">
            <option value="Nadal Rafael">
            <option value="Federer Roger">
            <option value="Thiem Dominic">
            <option value="Zverev Alexander">
            <option value="Nishikori Kei">
            <option value="Tsitsipas Stefanos">
            <option value="Anderson Kevin">
            <option value="Del Potro Juan Martin">
            <option value="Cilic Marin">
            <option value="Isner John">
            <option value="Fognini Fabio">
            <option value="Khachanov Karen">
            <option value="Medvedev Daniil">
            <option value="Coric Borna">
            <option value="Monfils Gael">
            <option value="Raonic Milos">
            <option value="Basilashvili Nikoloz">
            <option value="Cecchinato Marco">
            <option value="Bautista-Agut Roberto">
            <option value="Pella Guido">
            <option value="Shapovalov Denis">
            <option value="Goffin David">
            <option value="Schwartzman Diego">
            <option value="Pouille Lucas">
            <option value="de Minaur Alex">
            <option value="Edmund Kyle">
            <option value="Simon Gilles">
            <option value="Wawrinka Stan">
            <option value="Auger Aliassime Felix">
            <option value="Lajovic Dusan">
            <option value="Djere Laslo">
            <option value="Berrettini Matteo">
            <option value="Tiafoe Frances">
            <option value="Garin Christian">
            <option value="Kyrgios Nick">
            <option value="Fucsovics Marton">
            <option value="Verdasco Fernando">
            <option value="Gasquet Richard">
            <option value="Herbert Pierre-Hugues">
            <option value="Hurkacz Hubert">
            <option value="Chardy Jeremy">
            <option value="Carreno-Busta Pablo">
            <option value="Albot Radu">
            <option value="Norrie Cameron">
            <option value="Paire Benoit">
            <option value="Kukushkin Mikhail">
            <option value="Dimitrov Grigor">
            <option value="Cuevas Pablo">
            <option value="Mannarino Adrian">
            <option value="Struff Jan-Lennard">
            <option value="Fritz Taylor">
            <option value="Opelka Reilly">
            <option value="Ebden Matthew">
            <option value="Munar Clar Jaume Antoni">
            <option value="Kohlschreiber Philipp">
            <option value="Millman John">
            <option value="Dzumhur Damir">
            <option value="Johnson Steve">
            <option value="Klizan Martin">
            <option value="Querrey Sam">
            <option value="Humbert Ugo">
            <option value="Mcdonald Mackenzie">
            <option value="Haase Robin">
            <option value="Seppi Andreas">
            <option value="Mayer Leonardo">
            <option value="Sonego Lorenzo">
            <option value="Thompson Jordan">
            <option value="Krajinovic Filip">
            <option value="Berankis Ricardas">
            <option value="Jarry Nicolas">
            <option value="Sousa Joao">
            <option value="Londero Juan Ignacio">
            <option value="Gulbis Ernests">
            <option value="Nishioka Yoshihito">
            <option value="Ruud Casper">
            <option value="Bedene Aljaz">
            <option value="Delbonis Federico">
            <option value="Rublev Andrey">
            <option value="Kudla Denis">
            <option value="Copil Marius">
            <option value="Gojowczyk Peter">
            <option value="Evans Daniel">
            <option value="Kecmanovic Miomir">
        </datalist>
    </div>



	<div class="col-md-7" style="float:right; margin-top:60px">
    <button type="submit" class="btn btn-light btn-lg center-block">Calculate probability</button>
	</div>
</form>

</div>
</body>
</html>
