body{
    background-image: url("tennis.png");
    background-repeat: no-repeat;
    background-size: cover;
}
p, a, span{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.18);
    color: black;
}
p, a, span:hover{
    /*color: gray;*/
    opacity: 0.4;
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;
}
#name1, #name2{
    position: absolute;
    width: 50vh;
    height: 10vh;
    font-size: 6vh;
    border-radius: 10px;
    top: 30vh;
    left: 40vh;
}
.name2{
    position: absolute;
    width: 50vh;
    height: 10vh;
    font-size: 4vh;
    padding-left: 10px;
    border-radius: 10px ;
    top: 30vh;
    left: 110vh;
}
.name1{
    position: absolute;
    width: 50vh;
    height: 10vh;
    font-size: 4vh;
    padding-left: 10px;
    border-radius: 10px ;
    top: 30vh;
    left: 35vh;
}
.gender{
    position: absolute;
    font-size: 2.45vh;
    top: 10vh;
    left: 56vh;
    text-transform: lowercase;
}
.type{
    position: absolute;
    font-size: 2.45vh;
    top: 10vh;
    left: 107vh;
    text-transform: lowercase;
}
#gender, #type{
    position: absolute;
    width: 40vh;
    height: 7vh;
    font-size: 4vh;
    border-radius: 10px ;
    top: 15vh;
    left: 55vh;
}
#type{
    left: 100vh;
}
#versus{
    position: absolute;
    width: 20vh;
    height: 5vh;
    font-size: 6.5vh;
    top: 31vh;
    left: 94.5vh;
    color: azure;
    text-shadow: 2px 2px 0 black;
}
.button2{
    position: absolute;
    top: 52vh;
    left: 82.4vh;
}
.mar25 {
    padding: 40px;
    margin: 50px;
    top: 77px;
}

